body {
    background: #E5EEFF;
    color: #787b8b;
}

.titulo_isla {
    font-family: 'Open Sans', sans-serif;
    color: #19255B;
    font-size: 30px;
    display: grid;
    place-items: center;
}

.isla {
    font-family: 'Open Sans', sans-serif;
    color: #19255B;
    font-size: 18px;
    margin-left: 10px;
    width: 100px;
} 

#txtIsla {
    position: absolute;
    left: 46%;
}

/*.noUnidad{
    font-family: 'Open Sans', sans-serif;
    color: #19255B;
    font-size: 20px;
    justify-content: center;
    display: flex;
}*/

/* Estilo base para la tabla */
.tabla_isla {
    width: 90vw;
    height: 90vh;
    overflow-x: auto;
    place-items: center;
    display: grid;
}
  
  /* Estilos específicos para tamaños de pantalla más pequeños */
  @media only screen and (max-width: 600px) {
    .tabla_isla {
        font-size: 12px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
        /* Añade cualquier otro estilo necesario para pantallas pequeñas */
    }
  }

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #a1a2a3;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

  /* Estilos específicos para el select con ID 'select_isla' */
.select_isla {
    display: inline-flex;
    height: 10px;
    margin-left: 0px;
    /*margin:10px auto;*/
    width: 90px;
    /*-webkit-appearance: none;*/
    height: 27px;
    /* background-color: #ffffff; */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #a1a2a3 0%,#a1a2a3  100%);
      background-repeat: no-repeat, repeat;
      background-position: right .4em top 50%, 0 0;
      background-size: .65em auto, 100%;
}

#select_isla {
    position: absolute;
    left: 48%;
}
